[Unit]
Description=vulsrepo daemon
Documentation=https://vuls.io/docs/en/vulsrepo.html

[Service]
ExecStart = /home/vuls-user/vulsrepo/server/vulsrepo-server
ExecReload = /bin/kill -WINCH ${MAINPID} ; /home/vuls-user/vulsrepo/server/vulsrepo-server
ExecStop = /bin/kill -WINCH ${MAINPID}
Restart = no
Type = simple
User = vuls-user
Group = vuls-group

[Install]
WantedBy = multi-user.target


